
h3{
    text-decoration: underline;
}

img{
    border: 10px dashed rgb(200, 218, 134);
}

#tasks{
    color:rgb(31, 87, 56);
    
    
}

#welcome{
    font-weight: bolder;
}

#button{
    margin-bottom: 1cm;
}

.info{
    color: rgb(121, 20, 20);
}

.form{
    font-weight: bold;
    color: beige;
    background-color: darkolivegreen;
}